{
  "presets": [
    ["@babel/env", { "modules": false }]
  ],
    "plugins": [
      "add-module-exports",      
      "@babel/proposal-class-properties",
      "@babel/transform-runtime",
      "@babel/syntax-object-rest-spread",
      "@babel/syntax-jsx",
      [
        "babel-plugin-inferno",
        {
          "imports": true
        }
      ]
  ]
}
