body {
  margin: 0 1rem;
}

.TestContainer {
  max-width: 30rem;
}

/**
 * Animate error messages
 */
.InfernoFormlib-ErrorMsg--Animation-leave {
    opacity: 1;
}

.InfernoFormlib-ErrorMsg--Animation-leave-active {
    overflow: hidden;
    transition: height 0.3s ease-out, opacity 0.2s ease-in;
}

.InfernoFormlib-ErrorMsg--Animation-leave-end {
    height: 0;
    opacity: 0;
}

.InfernoFormlib-ErrorMsg--Animation-enter {
    height: 0;
    opacity: 0;
}

.InfernoFormlib-ErrorMsg--Animation-enter-active {
    transition: height 0.2s ease-out, opacity 0.5s ease-in;
}

.InfernoFormlib-ErrorMsg--Animation-enter-end {
    opacity: 1;
}

/**
 * Animate list rows
 */
 .InfernoFormlib-ListFieldRow--Animation-leave {
    opacity: 1;
}

.InfernoFormlib-ListFieldRow--Animation-leave-active {
    overflow: hidden;
    transition: height 0.3s ease-out, opacity 0.2s ease-in;
}

.InfernoFormlib-ListFieldRow--Animation-leave-end {
    height: 0;
    opacity: 0;
}

.InfernoFormlib-ListFieldRow--Animation-enter {
    height: 0;
    opacity: 0;
}

.InfernoFormlib-ListFieldRow--Animation-enter-active {
    transition: height 0.2s ease-out, opacity 0.5s ease-in;
}

.InfernoFormlib-ListFieldRow--Animation-enter-end {
    opacity: 1;
}

/* Bootstrap overrides */
.invalid-feedback {
  display: block;
}

/* DateField Widget */
.InfernoFormlib-DateFieldCalendar .DateFieldHeaderItem {
    text-align: center;
    color: #aaa;
}

.InfernoFormlib-DateFieldCalendar .DateFieldItem {
    text-align: center;
    color: #666;
}

.InfernoFormlib-DateFieldCalendar .text-muted {
    color: #bbb !important;
}

.InfernoFormlib-DateFieldCalendar .DateFieldItem--today {
    background-color: #eee;
    border-radius: 0.2em;    
}

.InfernoFormlib-DateFieldCalendar .DateFieldItem:hover,
.InfernoFormlib-DateFieldCalendar .DateFieldItem--selected {
    color: white !important;
    background-color: #007bff;
    border-radius: 0.2em;
} 

.InfernoFormlib-DateFieldCalendar .DateFieldBody {
    min-width: 20em;
}

.InfernoFormlib-DateFieldCalendar .DateFieldFooter {
    padding: 0.5rem;
    text-align: center;
    background-color: #f7f7f7;
    border-top: 1px solid #ebebeb;
}

.InfernoFormlib-DateFieldCalendar .nav-item {
    flex: 0 1;
}

.InfernoFormlib-DateFieldCalendar .nav-link:hover {
    border-radius: 0.2em;
    color: white;
    background-color: #007bff;
}

.InfernoFormlib-DateFieldCalendar .DateFieldMonth {
    flex: 1 0;
    text-align: center;
}

/**
 * FileUploadWidget
 */
.InfernoFormlib-FileUploadWidget {
    position: relative;
    width: 15rem;
    height: 5rem;
}

.InfernoFormlib-FileUploadWidget  .ProgressContainer {
    position: absolute;
    top: 50%;
    left: 10%;
    right: 10%;
    height: 1rem;
    transform: translateY(-50%);
    background-color: black;
}
.InfernoFormlib-FileUploadWidget .ProgressBar {
    height: 100%;
    background-color: white;
    transition: width 0.3s ease-in-out;
}
.InfernoFormlib-FileUploadWidget .Error,
.InfernoFormlib-FileUploadWidget .Uploading,
.InfernoFormlib-FileUploadWidget .DragNDroppable {
    position: relative;
    width: 100%;
    height: 100%;
    border: 4px dashed #ddd;
    border-radius: 0.8rem;

    transition: all 0.3s ease-in;
}

.InfernoFormlib-FileUploadWidget .DragNDroppable--drag {
    background-color: rgba(0,0,0,0.6);
    border-color: rgba(0,0,0,0);
} .InfernoFormlib-FileUploadWidget .DragNDroppable--drag .placeholder {
    color: white;
}

.InfernoFormlib-FileUploadWidget .Error,
.InfernoFormlib-FileUploadWidget .Uploading,
.InfernoFormlib-FileUploadWidget .DragNDroppable--drag-hover {
    background-color: rgba(0,0,0,0.8);
    border-color: rgba(0,0,0,0);
} .InfernoFormlib-FileUploadWidget .DragNDroppable--drag-hover .placeholder {
    color: white;
}

.InfernoFormlib-FileUploadWidget .ErrorContainer {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 10%;
    right: 10%;
    transform: translateY(-50%);
}

.InfernoFormlib-FileUploadWidget .Error p {
    font-size: 0.85em;
    color: white;
    margin-bottom: 0.6em;
}

.InfernoFormlib-FileUploadWidget .form-control-file {    
    height: 100%;
    width: 100%;
    opacity: 0;
}

/* App styling */
.InfernoFormlib-FileUploadWidget .placeholder {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.9em;
    color: #ccc;
}

.ImageField.card {
    border: none;
    flex-direction: row;
    height: 5rem;
    margin-bottom: 0;
    align-items: center;
    border-radius: 0;
}

.ImageField .card-img {
    border-radius: 0;
    margin-right: 0.5rem;
    height: 100%;
    width: auto;
}

.ImageField .card-title {
    font-weight: 100;
    font-size: 0.85em;
    margin: 0;
}

.ImageField .card-subtitle {
    margin: 0;
    margin-top: 0.2em;
}

.ImageField .card-text {
    font-size: 0.8em;
    margin: 0;
    margin-top: 0.2em;
}

.ImageField .card-body {
    padding: 0;
    height: 100%;
}

.ImageField .card-footer {
    padding: 0;
    background: none;
    border: none; 
}

.ImageField-Action {
    line-height: 0.8em;
    vertical-align: bottom;
}

/**
 * Some general form overrides
 */

.invalid-feedback {
    margin-top: 0;
    padding: 0.25rem 0 0;
}

.InfernoFormlib-ListRow,
.InfernoFormlib-ObjectRow {
    border-left: 4px solid #ccc;
    padding-left: 1em;
}

.InfernoFormlib-ListRow > .form-control-label,
.InfernoFormlib-ObjectRow > .form-control-label  {
    border-bottom: 1px solid #ccc;
    width: 100%;
    text-align: center;
}

.InfernoFormlib-ObjectRow > .form-control-label,
.InfernoFormlib-ObjectRow > .invalid-feedback {
    padding: 0 0 1em 0;
}

.InfernoFormlib-ListFieldRow > .InfernoFormlib-ObjectRow {
    border: none;
    padding: 0;
}

.InfernoFormlib-ListFieldRow .InfernoFormlib-RowFieldContainer {
    display: inline-block;
    margin-left: 1em;
}

.InfernoFormlib-ListFieldRow .InfernoFormlib-ObjectRow > .InfernoFormlib-RowFieldContainer {
    display: block;
    margin-left: 0;
}

.InfernoFormlib-ListFieldRow {
    position: relative;
}
.InfernoFormlib-ListFieldRowDeleteBtn {
    position: absolute;
    top: 0;
    right: 0;
}

/*
    ActionBar
*/
.InfernoFormlib-ActionBar {
    background-color: rgba(255,255,255,0.8);
    z-index: 1;
    padding: 0.5rem 1rem;
    width: 100%;
    border-top: 1px solid #777;
}
.InfernoFormlib-StickyActionBar {
    position: fixed;
}
.InfernoFormlib-StickyActionBar--hidden {
    display: none;
}

.DebugMarker {
    height: 1px;
    background-color: red;
    width: 100%;
    z-index: 9999999999;
}
