body {
  margin: 0 1rem;
}

.TestContainer {
  max-width: 30rem;
}

/**
 * Animate error messages
 */
.InfernoFormlib-ErrorMsg--Animation-leave {
    opacity: 1;
}

.InfernoFormlib-ErrorMsg--Animation-leave-active {
    overflow: hidden;
    transition: height 0.3s ease-out, opacity 0.2s ease-in;
}

.InfernoFormlib-ErrorMsg--Animation-leave-end {
    height: 0;
    opacity: 0;
}

.InfernoFormlib-ErrorMsg--Animation-enter {
    height: 0;
    opacity: 0;
}

.InfernoFormlib-ErrorMsg--Animation-enter-active {
    transition: height 0.2s ease-out, opacity 0.5s ease-in;
}

.InfernoFormlib-ErrorMsg--Animation-enter-end {
    opacity: 1;
}


/* Bootstrap overrides */
.invalid-feedback {
  display: block;
}

/* DateField Widget */
.InfernoFormlib-DateFieldCalendar .DateFieldHeaderItem {
    text-align: center;
    color: #aaa;
}

.InfernoFormlib-DateFieldCalendar .DateFieldItem {
    text-align: center;
    color: #666;
}

.InfernoFormlib-DateFieldCalendar .text-muted {
    color: #bbb !important;
}

.InfernoFormlib-DateFieldCalendar .DateFieldItem--today {
    background-color: #eee;
    border-radius: 0.2em;    
}

.InfernoFormlib-DateFieldCalendar .DateFieldItem:hover,
.InfernoFormlib-DateFieldCalendar .DateFieldItem--selected {
    color: white !important;
    background-color: #007bff;
    border-radius: 0.2em;
} 

.InfernoFormlib-DateFieldCalendar .DateFieldBody {
    min-width: 20em;
}

.InfernoFormlib-DateFieldCalendar .DateFieldFooter {
    padding: 0.5rem;
    text-align: center;
    background-color: #f7f7f7;
    border-top: 1px solid #ebebeb;
}

.InfernoFormlib-DateFieldCalendar .nav-item {
    flex: 0 1;
} .InfernoFormlib-DateFieldCalendar .nav-link:hover {
    border-radius: 0.2em;
    color: white;
    background-color: #007bff;
}

.InfernoFormlib-DateFieldCalendar .DateFieldMonth {
    flex: 1 0;
    text-align: center;
}